@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
:root {
    --font-family:"Bai Jamjuree", sans-serif;
    --cyan-strong : hsl(171, 66%, 44%);
    --light-blue : hsl(233, 100%, 69%) ;
    --dark-grayish-blue : hsl(210, 10%, 33%) ;
    --grayish-blue : hsl(201, 11%, 66%) ;

}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
body{
    font-family: var(--font-family);
   width: 100%;
   background-color: white;
  
}
header {
    width: 100%;
    height: 100vh;
    background-image: url(./clipboard-landing-page-master/images/bg-header-desktop.png);
    background-repeat: no-repeat;
    text-align: center;
    background-position: center;
    background-size: cover;  
    display: flex;
    justify-content: center;
    align-items: center ;
    padding: 1rem;
}
.header-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

header > img {
   
  
   margin : 8rem 0 3rem 0
    
}
h1{
color: var(--dark-grayish-blue);
font-family: var(--font-family);
font-weight: 600;
margin-bottom: 1rem;
text-align: center;



}

.paragraphs {
    color: var(--grayish-blue);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 2rem;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
button {
    background-color: var(--cyan-strong);
    color: white;
    border: solid var(--cyan-strong);
    display: inline-block;
    border-radius: 50px;
    padding: 13px 40px;
    
    
    box-shadow: 0 5px 10px 0 hsl(171, 66%, 80%) ;
    
}
#mac {
    background-color: var(--light-blue); 
    border: solid var(--light-blue);
    box-shadow: 0 5px 10px 0 hsl(233, 100%, 90%) ;
}
button:hover {
    box-shadow: 0 5px 10px 0 hsl(171, 66%, 80%) ;
    cursor: pointer;
    scale: 101%;
}
#mac:hover{
    box-shadow: 0 5px 10px 0 hsl(233, 100%, 90%) ;
} 

#part1{
    
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    margin-top: 35px;
}
main{
  display: block;

}
#second{
 width: 100%;
 height: 100vh;
 display: flex;
 justify-content: space-between;
 align-items: center;
 flex-direction: column;
 margin-bottom: 200px;
}
h2{
 color: var(--dark-grayish-blue);
font-family: var(--font-family);
font-weight: 600;

text-align: center;
font-size: 32px;
margin-bottom: 1rem;

}
.p2 {
    color: var(--grayish-blue);
    font-family: var(--font-family);
    font-weight: 400;
   
}

#part2 {

 display: flex;
 align-items: center;
 justify-content: space-around;
 gap: 50px;
 flex-wrap: wrap;
 margin-bottom: 20px;
}
#computah {
    max-width: 50%;
    margin-top: 100px;
}
p{
    text-wrap: wrap;
    text-align: center;
    font-family: var(--font-family);
    color: var(--grayish-blue);
}

#part2>p {
    color: var(--grayish-blue);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    margin-top: 150px;   
}
span{
 color: var(--dark-grayish-blue);
font-family: var(--font-family);
font-weight: 600;
}

#third {

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 60px;
    margin-top: 100px;
}
#clipboard{ 
   
    display: flex;

    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    text-wrap: wrap;

}
.clip {
    color: var(--grayish-blue);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 60px;
    text-align: center; 
    margin-top: 20px;
    
}
#clipboard>#devices{
    width: 80%;
}

#fourth {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 60px;
}

#prolly-the-hardest-part {
    display: flex ;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 30px;
    
}
.icons {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
      
}

.images {
    margin-bottom: 40px;
    align-items: center;
}
h3{
    color: var(--dark-grayish-blue);
    font-family: var(--font-family);
    font-weight: 600;
    
    text-align: center;
    font-size: 25px;
    margin: 0;
    margin-bottom: 25px;
}
.another-paragraph {
    color: var(--grayish-blue);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 13px;
    text-align: center;   
}
#brands {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 60px 0;
    padding: 20px 60px;
    margin-bottom: 120px;
    flex-wrap: wrap;
    gap: 60px;
}
footer {
    display: flex;
  
    justify-content: space-evenly;
    margin-top: 100px;
    align-items: center;
    background-color: hsl(0, 0%, 95%);
    padding: 50px 0;
    gap: 90px;
    flex-wrap: wrap;
}
#Install {
    display: flex;
    align-content: space-evenly;
    align-items: center;
    gap: 70px;
   flex-wrap: wrap;
padding: 0 120px;
}
#final {
    display: flex;
    justify-content: space-evenly; 
    gap: 80px;
    flex-wrap: wrap;
   
}
#last-idp-ls>img {
    width: 40%;
}
ol{
    list-style: none;
    text-wrap: wrap;
    
    font-family: var(--font-family);
    color: var(--grayish-blue);
}
#social-media {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

@media (max-width : 375px) {
    header{
        background-image: url(./clipboard-landing-page-master/images/bg-header-mobile.png);
    }
}