@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0 ;
    padding : 0;
    box-sizing: border-box ;
}
body {
width: 100vw;
height: auto;
min-height: 100vh;
}
h1 {
    font-family:"Inter", sans-serif;
    font-weight: 700;
    color: white;
    margin-bottom: 10px;
}
#socials {
    background-color: hsl(0, 0%, 20%);
    max-width: 300px;
    height: fit-content;
    margin: 100px auto;
    border-radius: 10px;
    padding-bottom: 10px;
    
}
#socials * {
    
    text-align: center;
}
#pfp{
    border-radius: 100%;
    margin: 10px 32%;
    width: 100px;
}
h2 {
font-family: "Inter", sans-serif;
font-weight: 600;
color: hsl(75, 94%, 57%);
margin-bottom: 20px;
}
p {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: hsl(0, 0%, 100%);
    size: 14px;
    margin-bottom: 10px;
}
ol>li {
    list-style-type: none;
    font-family: "Inter", sans-serif;
    font-weight: 600;
   
    color: white;
  
   background-color: hsl(0, 0%, 25%);
    border: solid hsl(0, 0%, 25%) 1px;
    border-radius: 5px;
    width: 200px;
    margin: 10px auto;
    
    padding: 10px;
    
}

ol>:hover {
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 25%);
    transition: 0.3s;
}
li>.icon {
    justify-content: end;
    size: 10px;
}